<h2 class="h5">Instale e use as ferramentas</h2>

<p>Você usa <a href="http://git-scm.com/book/pt-br" target="_blank">Git</a> para fazer o deploy de seu código e <a href="https://getup.zendesk.com/entries/23056511">RHC</a> para criar e gerenciar suas aplicações.</p>

<p>Disponibilizamos um <a href="https://github.com/getupcloud/openshift-rhc-installer/raw/master/RHC-Tools-Installer.exe">instalador para Windows</a> (<a href="https://www.youtube.com/watch?v=NWGV5e5BHgA" target="_blank">video demonstrativo</a>) e um <a href="https://getup.zendesk.com/entries/23056511" target="_blank">guia de instalação para Linux e Mac</a>.

<h2 class="h5">Quer saber sobre infraestrutura?</h2>

<p>Você é um desenvolvedor que não resiste à tentação de saber mais da infraestrutura? Nós entendemos a curiosidade! ;)</p>

<p>Nossa plataforma é baseada em Red Hat <a href="https://github.com/openshift" target="_blank">OpenShift Origin</a> e infraestrutura na Amazon. Nossos servidores estão distribuídos em 3 diferentes zonas ou AZs, reduzindo o risco de indisponibilidade. Mais sobre a <a href="https://getup.zendesk.com/entries/22999758" target="_blank">topologia da Getup</a> e sobre o <a href="http://docs.aws.amazon.com/AWSEC2/latest/UserGuide/using-regions-availability-zones.html" target="_blank">modelo de AZs da Amazon</a>.</p>

<p>Também usamos <a href="http://docs.aws.amazon.com/AmazonVPC/latest/UserGuide/" target="_blank">Amazon VPC</a> para isolar os diferentes níveis de servidores e acessos; <a href="http://aws.amazon.com/cloudformation/" target="_blank">CloudFormation</a> e <a href="http://puppetlabs.com/" target="_blank">Puppet</a> para criar e configurar novas instâncias de forma rápida, padronizada e previsível e <a href="http://aws.amazon.com/cloudwatch/" target="_blank">Amazon CloudWatch</a> para monitoramento da saúde da estrutura.</p>
