<h4>Ruby 1.8 / 1.9</h4>

<p>Ruby é uma linguagem dinâmica, open source com foco na simplicidade e na produtividade. Tem uma sintaxe elegante, de leitura natural e fácil escrita. Na Getup você pode utilizar Ruby com frameworks como Sinatra e Rails.</p>

<p>Na Getup hospedar uma aplicação Ruby usando seu framework e banco de dados favorito é muito simples. Escale automático para milhões de usuários sem precisar configurar e administrar servidores. Esqueça servidores e foque no código.</p>

<h5>Simplificando</h5>
<p>Fazer o deploy e rodar uma aplicação Ruby é simples e rápido, esqueça o setup de servidores, instalação de bibliotecas e configuração de frameworks.</p>
<pre>$ rhc app-create App ruby-1.9 mysql-5.1</pre>

<p>O comando acima irá criar seu gear (servidor), instalar e configurar o Ruby, MySQL e um repositório git no servidor. </p>
<p>Acesse a aplicação no endereço http://App-namespace.getup.io - acesso HTTPS também suportado e todas as aplicações possuem certificado SSL válido.</p>

<h5>Escalabilidade automática</h5>
<p>E como atender milhões de acessos?  Somos especialistas quando o assunto é escalabilidade e alto volume de tráfego, adicione o parâmetro -s ao criar sua aplicação e voilá - escalabilidade automática.</p>
<pre>$ rhc app-create App ruby-1.9 -s</pre>

<p>A escalabilidade é baseada na quantidade de acessos. Toda vez que sua aplicação receber um pico de acessos, a plataforma irá criar novos gears para atender a demanda.</p>

<h5>Frameworks, Banco de dados e outras ferramentas</h5>
<p>Usa Rails ou  Sinatra? Basta utilizar nossos quickstarts:</p>
<pre>$ rhc app create rails ruby-1.9 mysql-5.1 --from-code=https://github.com/getupcloud/rails-example.git</pre>

<p>Adicione banco de dados como MySQL, PostgreSQL ou MongoDB através dos cartridges</p>
<pre>$ rhc cartridge add mysql-5.1 -a App</pre>

<h5>Explore mais</h5>
<p>Aprenda a usar o RHC - <a href="https://getup.zendesk.com/entries/26727613" target="_blank">Guia rápido do RHC</a>
<br>Deploy com Integração Contínua: <a href="http://getupcloud.com/blog/integracao-continua-com-jenkins" target="_blank">Integração Contínua com Jenkins</a>
<br>Saiba mais sobre as <a href="https://getup.zendesk.com/entries/27591228" target="_blank">variáveis de ambiente</a></p>

<h5>Investigue, solucione</h5>
<p><a href="#">Como fazer acesso SSH no gear?</a>
<br><a href="http://getupcloud.com/blog/dica-logs-da-aplicacao" target="_blank">Como ter acesso aos logs?</a></p>
