                <div class="background orange">
                    <article id="get-in-touch" class="wrapper pageview" data-pageview="get_in_touch">
                        <header>
                            <h2>{{ _ "Don't be shy! Let's talk about clouds."}}</h2>
                        </header>
                        <section>
                            <ul>
                                <li><a data-event="Get in touch,Link,E-mail" href="mailto:ship@getupcloud.com">ship@getupcloud.com</a></li>
                                <li><a data-event="Get in touch,Link,Twitter" href="http://www.twitter.com/getupcloud" target="_blank">twitter.com/getupcloud</a></li>
                                <li><a data-event="Get in touch,Link,Facebook" href="http://www.facebook.com/getupcloud" target="_blank">fb.com/getupcloud</a></li>                        
                            </ul>

                            <div class="right">
                                <dl class="trackevent" data-event="Get in touch,Maps,Porto Alegre">
                                    <dt>Porto Alegre</dt>
                                    <dd>poa@getupcloud.com</dd>
                                    <dd>Av. Wenceslau Escobar, 1823 - 204</dd>
                                    <dd>Tel: (51) 3209-3560</dd>
                                </dl>
                                <dl class="trackevent" data-event="Get in touch,Maps,São Paulo">
                                    <dt>São Paulo</dt>
                                    <dd>sampa@getupcloud.com</dd>
                                </dl>
                                <dl class="trackevent" data-event="Get in touch,Maps,Overseas">
                                    <dt>Overseas</dt>
                                    <dd>overseas@getupcloud.com</dd>
                                </dl>
                            </div>
                        </section><!-- . -->
                    </article>
                </div> <!-- #get-in-touch -->