<h1 class="h4">PHP 5.3 / 5.4 / 5.5</h1>

<p>PHP é uma linguagem largamente utilizada para desenvolvimento de aplicações web dinâmicas.</p>

<p>Na Getup hospedar uma aplicação PHP usando seu framework e banco de dados favorito é muito simples. Escale automático para milhões de usuários sem precisar configurar e administrar servidores. Esqueça servidores e foque no código.</p>

<h2 class="h5">Simplificando a Hospedagem</h2>
<p>Fazer o deploy e rodar uma aplicação PHP é simples e rápido, esqueça o setup de servidores, instalação de bibliotecas e configuração de frameworks.</p>
<pre>$ rhc app-create App php-5.5 mysql-5.1</pre>

<p>O comando acima irá criar seu gear (servidor), instalar e configurar o PHP, MySQL e um repositório git no servidor. 
Acesse a aplicação no endereço http://App-namespace.getup.io - acesso HTTPS também suportado e todas as aplicações possuem certificado SSL válido.</p>

<h2 class="h5">Escalando aplicações</h2>
<p>E como atender milhões de acessos?  Somos especialistas quando o assunto é escalabilidade e alto volume de tráfego, adicione o parâmetro -s ao criar sua aplicação e voilá - escalabilidade automática.</p>
<pre>$ rhc app-create App php-5.5 -s</pre>

<p>A escalabilidade é baseada na quantidade de acessos. Toda vez que sua aplicação receber um pico de acessos, a plataforma irá criar novos gears para atender a demanda.</p>

<h3 class="h5">Frameworks, Bancos de dados e outras ferramentas</h3>
<p>Adicione frameworks como CakePHP, Symfony, CodeIgniter</p>
<pre>$ rhc app-create App php-5.3 mysql-5.1 --from-code=https://github.com/openshift/CodeIgniterQuickStart</pre>

<p>Adicione banco de dados como MySQL, PostgreSQL ou MongoDB em aplicações existentes através dos cartridges</p>
<pre>$ rhc cartridge add mysql-5.1 -a App</pre>

<p>Use ferramentas como Jenkins, Git, Eclipse.</p>

{{> more }}