<h3 class="h5">Explore mais</h3>
<p>Aprenda a usar o RHC - <a href="http://getupcloud.com/blog/guia-rapido-rhc" target="_blank">Guia rápido do RHC</a>
<br>Deploy com Integração Contínua: <a href="http://getupcloud.com/blog/integracao-continua-com-jenkins" target="_blank">Integração Contínua com Jenkins</a>
<br>Saiba mais sobre as <a href="https://getup.zendesk.com/entries/27591228" target="_blank">variáveis de ambiente</a></p>

<h3 class="h5">Investigue, solucione</h3>
<p><a href="http://getupcloud.com/blog/acessando-aplicacao-ssh">Como fazer acesso SSH no gear?</a>
<br><a href="http://getupcloud.com/blog/dica-logs-da-aplicacao" target="_blank">Como ter acesso aos logs?</a></p>