<h1 class="h4">PostgreSQL</h1>

<p>PostgreSQL é um poderoso banco de dados objeto-relacional de código aberto.</p>

<h2 class="h5">Simplificando a Hospedagem</h2>
<p>Fazer o deploy de uma aplicação Python com banco de dados PostgreSQL está a um comando de distância:</p>
<pre>$ rhc app-create App python-2.6 postgresql-9.2</pre>

<p>O comando acima irá criar seu gear (servidor), instalar e configurar o Python, PostgreSQL e um repositório git no servidor. </p>
<p>Acesse a aplicação no endereço http://App-namespace.getup.io - acesso HTTPS também suportado e todas as aplicações possuem certificado SSL válido.</p>

<h3 class="h5">Ferramentas</h3>
<p>Administre o banco pelo seu cliente favorito utilizando o port-forward, através de um  túnel SSH com total segurança.</p>
<pre>$ rhc port-foward -a App</pre>

{{> more }}
