                        <h4>{{ _ "Whant to know more about our infrastructure?" }}</h4>

                        <p>{{ _ "So, you are a developer who can't resist the temptation to take a sneak peak in the infrastructure? Don't worry, we understand. ;)" }}</p>
                        <p>{{ _ "Our platform is based on Red Hat Openshift Origin and Amazon AWS infrastructure. The servers are distributed in three different Availability Zones or AZs, providing more reliability. More about Getup topology and Amazon AZs model." }}</p>

                        <p>{{ _ "To isolate and have more control of our network we use Amazon VPC; CloudFormation and Puppet to deploy and setup new server instances more quickly, standardized and predictable way and Amazon CloudWatch to monitor the infrastructure health. " }}</p>