<h4>PostgreSQL 8.4 / 9.2</h4>

<p>PostgreSQL é um poderoso banco de dados objeto-relacional de código aberto.</p>

<h5>Simplificando</h5>
<p>Fazer o deploy de uma aplicação Python com banco de dados PostgreSQL está a um comando de distância:</p>
<pre>$ rhc app-create App python-2.6 postgresql-9.2</pre>

<p>O comando acima irá criar seu gear (servidor), instalar e configurar o Python, PostgreSQL e um repositório git no servidor. </p>
<p>Acesse a aplicação no endereço http://App-namespace.getup.io - acesso HTTPS também suportado e todas as aplicações possuem certificado SSL válido.</p>

<h5>Ferramentas</h5>
<p>Administre o banco pelo seu cliente favorito utilizando o port-forward, através de um  túnel SSH com total segurança.</p>
<pre>$ rhc port-foward -a App</pre>

<h5>Explore mais</h5>
<p>Aprenda a usar o RHC - <a href="http://getupcloud.com/blog/guia-rapido-rhc" target="_blank">Guia rápido do RHC</a>
<br>Deploy com Integração Contínua: <a href="http://getupcloud.com/blog/integracao-continua-com-jenkins" target="_blank">Integração Contínua com Jenkins</a>
<br>Saiba mais sobre as <a href="https://getup.zendesk.com/entries/27591228" target="_blank">variáveis de ambiente</a></p>

<h5>Investigue, solucione</h5>
<p><a href="http://getupcloud.com/blog/acessando-aplicacao-ssh">Como fazer acesso SSH no gear?</a>
<br><a href="http://getupcloud.com/blog/dica-logs-da-aplicacao" target="_blank">Como ter acesso aos logs?</a></p>
