<h1 class="h4">MongoDB</h1>

<p>O MongoDB é um banco de dados NoSQL orientado a documentos, utiliza o conjunto de documentos JSON.</p>

<h2 class="h5">Simplificando a Hospedagem</h2>
<p>Fazer o deploy de uma aplicação Node.js com banco de dados MongoDB está a um comando de distância:</p>
<pre>$ rhc app-create App nodejs-0.10 mongodb-2.4</pre>

<p>O comando acima irá criar seu gear (servidor), instalar e configurar o Node.js, MongoDB e um repositório git no servidor. </p>
<p>Acesse a aplicação no endereço http://App-namespace.getup.io - acesso HTTPS também suportado e todas as aplicações possuem certificado SSL válido.</p>

<h3 class="h5">Ferramentas</h3>
<p>Para gerenciar seu MongoDB  via MMS (MongoDB Management Service)  crie uma conta em <a href="https://mms.10gen.com/" target="_blank">https://mms.10gen.com/</a> e adicione o cartridge:</p>
<pre>$ rhc cartridge add 10gen-mms-agent-0.1-a App</pre>

<p>Se preferir, administre o banco pelo seu cliente favorito utilizando o port-forward, através de um  túnel SSH com total segurança.</p>
<pre>$ rhc port-foward -a App</pre>

{{> more }}
